/*global styles */
body{
    background-color: #468C58;
}
img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/*mobile stiles */
#container{
    background-color: #41C0F2;
    margin: 10px;
    border: 4px solid #F25757 ;
}

header{
    background-image: url(../images/gcourse1.jpg) ;
    background-size: cover;
    padding: 60px 0;
}
header h1{
    color: #F25757;
    text-shadow: 2px 2px 2px ;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}
nav li{
    display: block;
}
nav li a {
    display: block;
    background-color: #468C58;
    color: #70BF4B;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
}
nav, section, aside, .col, footer {
    background-color: #70BF4B;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid #F25757;
}

.button{
    display: block;
    background-color: black;
    color: #70BF4B;
    height: 40px;
    width: 175px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
}

nav li a:hover, .button:hover{
    background-color:#70BF4B ;
    text-shadow: 1px 1px 1px black;
}

h2,h3 {
    color: #468C58;
    text-shadow: 1px 1px 1px black ;
    text-align: center;
    font-size: 1.5em;
}

section img, aside img{
    width: 65%;
}

footer{
    padding: 20px auto;
    text-align: center;
    color: #1b495c;
}
/* tablet styles */

/* desktop styles */